<%- include('./partials/head.ejs') %>

<section class="hero">
    <section class="hero-card-index">
        <h1>Stekjesbieb</h1>
        <h2>Amsterdam</h2>
    </section>
</section>

<section class="chatbox">
    <h1>Buurtchat</h1>
    <p>Voor al je vragen of gewoon een praatje</p>

    <!-- State messages -->
    <span class="loading">Berichten aan het inladen...</span>
    <span class="empty">Er zijn nog geen berichten hier, typ iets om te kijken of er iemand reageert.</span>
    <!-- <span class="offline">Er gaat iets mis met de verbinding, we proberen de connectie te herstellen...</span> -->

    <ul></ul>

        <form>
          <input type="text" autocomplete="off" class="chatbot-btn" />
          <button><span>Send</span></button>
        </form>

      </section>


<%- include('./partials/foot.ejs') %>