  <footer>


    <div class="button-footer">

<button class="footer-button">Contact ons</button>

    </div>
 
    <div class="footer-1">
<img class="facebook"src="/assets/brand-facebook.png" width="36px" height="36px"> 
<img class="instagram" src="/assets/brand-instagram.png" width="36px" height="36px"> 
<img class="twitter"src="/assets/brand-twitter.png"width="36px" height="36px"> 



    </div>   
  <div class="footer-2">

<p class="footer">Buurtcampus is een initiatief van Hogeschool van Amsterdam (HvA) en Openbare Bibliotheek Amsterdam (OBA). Meer Buurtcampussen? Kijk op www.buurtcampusoost.nl of op www.buurtcampusnieuwwest.nl.</p>

  </div>

  <div class="footer-3"> 

<img class="logo-footer"src="assets/Logo-plantswap.png" alt="logo">

  </div>    

  </footer> 

</body>
</html>