
<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Swap</title>
    <link rel="stylesheet" href="styles/styles.css"/>
    <script src="https://kit.fontawesome.com/bdaa2a2cc7.js" crossorigin="anonymous"></script>
    <!-- <script src="script.js" defer></script> -->
  </head>
  <body>
    <header>
        <nav>
          <a href="/"><img src="assets/Logo-plantswap.png" alt="logo plantswapt"></a>

          <input type="checkbox" id="nav-checkbox" class="nav-checkbox" tabindex="0">
          <label for="nav-checkbox" class="nav-toggle"></label>

          <ul class="nav-menu" role="menubar" aria-haspopup="true">
            <li><a href="/" role="menuitem" aria-label="Home">Home</a></li>
            <li><a href="#" role="menuitem" aria-label="Blije smiley">:)</a></li>
            <li><a href="#" role="menuitem" aria-label="Blije smiley">:)</a></li>
            <li><a href="#" role="menuitem" aria-label="Verdrietige smiley">:(</a></li>
          </ul>
          
        </nav>
    </header>
    <main>

</head>

      
  

