
<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant Swap</title>
    <link rel="stylesheet" href="styles/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&family=Schibsted+Grotesk&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bdaa2a2cc7.js" crossorigin="anonymous"></script>
    <!-- <script src="script.js" defer></script> -->
    <link rel="shortcut icon" href="../assets/favicon.ico">
    <link rel="icon" sizes="16x16 32x32" href="../assets/favicon.ico">
  </head>
  <body>
    <header>
        <nav>
          <a href="/"><img src="assets/Logo-plantswap.png" alt="logo plantswapt"></a>

          <input type="checkbox" id="nav-checkbox" class="nav-checkbox" tabindex="0">
          <label for="nav-checkbox" class="nav-toggle"></label>

          <ul class="nav-menu" role="menubar" aria-haspopup="true">
            <li><a href="/stekjesbieb" role="menuitem" aria-label="Stekjesbieb">Stekjesbieb</a></li>
            <li><a href="/toevoegen" role="menuitem" aria-label="Toevoegen">Toevoegen</a></li>
            <li><a href="/what-the-plant" role="menuitem" aria-label="Link what the plant">What the plant</a></li>
            
            

          </ul>
          
        </nav>
    </header>
    <main>

</head>

      
  

