<%- include('./partials/head.ejs') %>

<section class="hero">
    <section class="hero-card-index">
        <h1>Contact ons</h1>
        <h2>Amsterdam</h2>
    </section>
</section>

<section class="gegevens"> 

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.
    6762981170546!2d4.9262331!3d52.35815600000001!2m3!1f0!2f0!3f0!3m2!1i1024
    !2i768!4f13.1!3m3!1m2!1s0x47c60976cd336d71%3A0x6610b420a3c48f0e!2sLinnaeusstraat
    %2044%2C%201092%20CL%20Amsterdam!5e0!3m2!1snl!2snl!4v1684928676758!5m2!1snl!2snl" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>

</section>


<%- include('./partials/foot.ejs') %>