<%- include('./partials/head.ejs') %>

<section class="hero">
    <section class="hero-card-index">
        <h1>Stekjesbieb</h1>
        <h2>Amsterdam</h2>
    </section>
</section>


<section class="intro">
    <p>Heb jij één of meerdere plantenstekjes over en zou je die graag willen ruilen voor een nieuw plantje?</p>
    <p>Meld je stekje hier aan en ruil ‘m via de app. Schrijf de Latijnse naam van je plant en eventuele verzorgingstips op een labeltje en neem ‘m mee naar de OBA Linnaeusstraat in Amsterdam.</p>
    <div class="btn-wrap">
        <a class="btn-index-top" href="stekjesbieb" role="button" aria-label="Stekjesbieb">Stekjesbieb</a>
        <a class="btn-index-bottom" href="what-the-plant" role="button" aria-label="What the plant">What the plant</a>
    </div>
</section>


<section class="work-wrapper">
    <section class="swap">
        <h3>Hoe werkt het?</h3>
        <div class="kop">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
            <h4>Ruilen</h4>
        </div>
        <p>Binnen Plantswap kan je kiezen voor de opties ruilen of doneren. Met de optie ruilen kies je uit onze beschikbare stekjes binnen de campus, geef je heel simpel je informatie en kan direct je nieuwe stekje ophalen! Je kan ook altijd een stekje of plantje doneren voor buurtbewoners.</p>
    </section>
    <section class="donation">
        <div class="kop">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <h4>Doneren</h4>
        </div>
        <p>Binnen Plantswap kan je kiezen voor de opties ruilen of doneren. Met de optie ruilen kies je uit onze beschikbare stekjes binnen de campus, geef je heel simpel je informatie en kan direct je nieuwe stekje ophalen! Je kan ook altijd een stekje of plantje doneren voor buurtbewoners.</p>
    </section>
</section>

<%- include('./partials/foot.ejs') %>