<%- include('./partials/head') %>

<img src="/assets/stekjes.jpeg" width="100%" height="25%">
<div class="intro">
    <h1>Voeg zelf je stekje toe! </h1>
    <p>Vul het formulier in en breng je stekje naar ons.</p>
</div>
<section class="form">
    <div class="formulier">

        <form>
            <input type="text" placeholder="E-mailadres" required>
            <input type="text" placeholder="Naam stekje" required>
            <input type="date" placeholder="Aanmelddatum" required>
            <input type="text" placeholder="Giftig?" required>
            <input type="text" placeholder="Land van herkomst" required>
            <input type="text" placeholder="Welke voeding" required>
            <input type="text" placeholder="Hoevaak verpotten" required>
            <input type="file" placeholder="Afbeelding" required>
        </form>
<button class=toevoegen-button> Voeg toe! </button>

</div>

</section>
<%- include('./partials/foot') %>