<%- include('./partials/head') %>

<img src="/assets/stekjes.jpeg" width="100%" height="25%">
<div class="intro">
    <h1>Voeg zelf je stekje toe! </h1>
    <p>Vul het formulier in en breng je stekje naar ons.</p>
</div>
<%- include('./partials/foot') %>