<%- include('./partials/head') %>

<section class="hero">
    <section class="hero-card">
        <h1>Stekje toevoegen</h1>
        <p>Vul het formulier in en breng je stekje naar de stekjesbieb</p>
    </section>
</section>

<section class="form">
    <div class="formulier">

        <form>
            <input type="text" placeholder="E-mailadres" required>
            <input type="text" placeholder="Naam stekje" required>
            <input type="date" placeholder="Aanmelddatum" required>
            <input type="text" placeholder="Giftig?" required>
            <input type="text" placeholder="Land van herkomst" required>
            <input type="text" placeholder="Welke voeding" required>
            <input type="text" placeholder="Hoevaak verpotten" required>
            <input type="file" placeholder="Afbeelding" required>
        </form>
<button class=toevoegen-button> Voeg toe! </button>

</div>

</section>

<%- include('./partials/chatbot.ejs') %>
<%- include('./partials/foot') %>