<%- include('./partials/head') %>

<section class="hero">
    <section class="hero-card">
        <h1>What the plant</h1>
        <p>Alles over de verzoring van jouw planten</p>
    </section>
</section>

<section class="information">
    <section class="info-card">
        <div class="kop">
            <i class="fa-solid fa-seedling"></i>
            <h2>Verzorging van je plantje</h2>
        </div>
        <p>De Aechmea kamerplant is het bekendste soort van de Bromelia familie. Hij is vooral erg populair vanwege zijn fel gekleurde bloem, die helaas wel maar één keer bloeit voordat de plant sterft. Gelukkig is het een hele makkelijke plant om te verzorgen en zul je dus weinig omkijken hebben naar jouw Aechmea. Nog een leuke weetje: de bananenplant is een broertje van de Aechmea.</p>
    </section>

    <section class="info-card">
        <div class="kop">
            <i class="fa-solid fa-bugs"></i>
            <h2>Is mijn plant ziek?</h2>
        </div>
        <p>Net zoals mensen kunnen planten helaas ook gewoon ziektes oplopen. Het is belangrijk dat hier wel aandacht aan wordt besteed, want veel plantziektes kunnen een plant laten afsterven als het niet wordt tegengewerkt. Controleer daarom regelmatig je plant op ziektes, een goede manier is door de onderkant van het blad zo nu en dan te controleren. Zitten hier zwarte of witte plekjes op die er voorheen niet zaten, dan is het zeer waarschijnlijk dat je plant een ziekte heeft opgelopen. Kiek hieronder voor een overzicht van de meest voorkomende plantziektes inclusief hoe je het behandelt.</p>
    </section>
</section>

<%- include('./partials/foot') %>