<%- include('./partials/head') %>

<section class="hero">
    <section class="hero-card">
        <h1>What the plant</h1>
        <p>Alles over de verzoring van jouw planten</p>
    </section>
</section>


<%- include('./partials/foot') %>