* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    line-height: 1.4;
}

:root {
    /* Color */
    --dark-green: #214D12;
    --medium-green: #75916E;
    --light-green: #B8C7B4;
    --dark-blue: #333568;
    --medium-blue: #7D81A4;
    --light-blue: #BCBED1;
    --black: #000000;
    --white: #ffffff;

    /* Font */
    --header: 'Noto Sans', sans-serif;;
    --bodytext: 'Schibsted Grotesk', sans-serif;

    /* Font weight */
    --regular: 400;
    --bold: 600;

    /* Fontsize */
    --h1: 32px;
    --h2: 26px;
    --h3: 22px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --p: 16px;

    /* Border */
    --radius: 10px;

    /* Margins stekjes */
    --top-bottom: 20px;
    --left-right: 10px
}

/* Header */

header {
    box-shadow:0 0 12px 1px rgb(0 0 0 / 10%);
    width: 100%;
    padding: 20px 10px 0px 10px;
    position: sticky;
}

nav > a > img {
    width: 130px;
    height: auto;
}

label {
    user-select: none;
}

.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0 16px;
    right: 0;  
    font-size: 25px;
}

nav svg {
    width: 1.5rem;
    fill: black;
}

.close {
    display: none;
}

.menu {
    margin-top: 0.2rem;
}

input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    margin: 15px 32px;
    width: 22px;
    height: auto;
    right: 0;
    background-color: white;
}

input[type="checkbox"]:checked {
    position: absolute;
    cursor: pointer;
    margin: 17px 32px;
    background-color: white;
}

.nav-checkbox + label:before {
    position: absolute;
    cursor: pointer;
    right: 0;
    border: #ffffff;
    z-index: 5;
    font-family: fontawesome;
    content: "\f0c9";
    margin: 5px 16px;
    width: 22px;
    height: auto;
    border: none;
    background-color: white;
}

.nav-checkbox:checked + label:before {
    position: absolute;
    z-index: 5;
    font-family: fontawesome;
    margin: 5px 16px;
    width: 22px;
    height: auto;
    content: "\f00d";
    border: none;
    background-color: white;
}

:focus {
    outline-color: gray;
    border-radius: 2px;
    height:100%;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

li {
    list-style: none;
    display: none;
}

a {
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    height: 100%;
    font-family: var(--header);
    font-weight: var(--bold);
    font-size: var(--h4);
}

#nav-checkbox:checked ~ ul.nav-menu li {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
    display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
    display: none;
}

/* Hero */

.hero {
    background-image: url(/public/assets/Hero-afbeelding.jpg);
    width: 100%;
    height: auto;
}

.hero-card {
    padding: 30px;
    background-color: var(--light-green);
    margin: 10px;
    border-radius: 10px;
    width: 70%;
}

.hero-card h1 {
    font-family: var(--header);
    font-size: var(--h2);
    font-weight: var(--bold);
}

.hero-card p {
    font-family: var(--bodytext);
    font-size: var(--p);
    font-weight: var(--regular);
}

/* Desktop */
@media only screen and (min-width:560px) {

    /* Header */
    header {
        padding: 20px 10px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav .nav-toggle {
        display: none;
    }

    .nav-checkbox {
        display: none;
    }
    
    .nav-menu {
        position: relative;
        flex-direction: row;
    }

    li {
        display: block;
    }
}


/*footer*/



footer{
   /* display: flex; */
    border: #000000;
    justify-content: center;
    
}

button{
    background-color: #214D12;
    height: 40px ;
    width: 170px ;
    border-radius: 5px;
    color: white;
    font-size: 17px;    
}

div.button-footer{
display: flex;
justify-content: space-around;
}

p.footer {
    text-align: center;
}

img.logo-footer{
    align-items: center;
    width: 120px;
    height: 55,59px;
}

div.footer-3 {
    display: flex;
    justify-content: space-around;
} 

div.footer-1{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

img.instagram{
    margin-left: 10px;
    margin-right: 10px;

}



